<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add
            key="dotnet10"
            value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json"
        />
    <add
            key="dotnet-experimental"
            value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json"
        />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <packageSource key="dotnet-experimental">
      <package pattern="Microsoft.DotNet.ILCompiler.LLVM" />
      <package pattern="runtime.*.Microsoft.DotNet.ILCompiler.LLVM" />
    </packageSource>

    <packageSource key="dotnet10">
      <package pattern="Microsoft.NETCore.App.Runtime.Mono.wasi-wasm" />
      <package pattern="Microsoft.NET.Runtime.WebAssembly.Wasi.Sdk" />
    </packageSource>
  </packageSourceMapping>
</configuration>
